In [1]:
import pandas as pd

In [2]:
ls datasets/missing_tuple_completion/airbnb/

apartment.csv                    landlord.csv
aqp_queries.pkl                  neighborhoods.csv
incomplete_apartment_kr_0.4.csv

In [3]:
apartment = pd.read_csv('datasets/missing_tuple_completion/airbnb/apartment.csv')
landlord = pd.read_csv('datasets/missing_tuple_completion/airbnb/landlord.csv')
neighborhoods = pd.read_csv('datasets/missing_tuple_completion/airbnb/neighborhoods.csv')

In [4]:
apartment.head(3)

,listings.id,listings.host_id,listings.property_type,listings.room_type,listings.accommodates,listings.price,listings.security_deposit,listings.cleaning_fee,listings.guests_included,listings.extra_people,listings.minimum_nights,listings.availability_365,listings.cancellation_policy,listings.neighborhood_id
0,819027,4301802,P1,R1,2,603,0,250,2,0,4,242,C1,9
1,937102,5057848,P1,R1,4,801,0,500,2,100,3,22,C2,9
2,2060008,10545005,P1,R1,2,947,950,400,1,0,3,338,C2,9

In [5]:
landlord.head(3)

,hosts.host_id,hosts.host_since,hosts.host_response_time,hosts.host_response_rate,hosts.host_neighbourhood,hosts.tf_listings.host_id
0,4301802,2012,1,90,731,1
1,5057848,2013,3,100,1558,1
2,10545005,2013,1,100,176,1

In [6]:
neighborhoods.head(3)

,neighborhoods.neighbourhood_cleansed,neighborhoods.neighbourhood_group_cleansed,neighborhoods.state,neighborhoods.country,neighborhoods.neighborhood_id,neighborhoods.tf_listings.neighborhood_id
0,3,C0,S1,C1,9,11
1,6,C0,S20,C2,32,25
2,37,C0,S20,C2,121,61

In [7]:
df1 = pd.merge(apartment, landlord, left_on='listings.host_id', right_on='hosts.host_id', how='left')

In [8]:
print(len(df1))
print(len(apartment))
print(len(landlord))

104072
104072
68037

In [9]:
df1.head()

,listings.id,listings.host_id,listings.property_type,listings.room_type,listings.accommodates,listings.price,listings.security_deposit,listings.cleaning_fee,listings.guests_included,listings.extra_people,listings.minimum_nights,listings.availability_365,listings.cancellation_policy,listings.neighborhood_id,hosts.host_id,hosts.host_since,hosts.host_response_time,hosts.host_response_rate,hosts.host_neighbourhood,hosts.tf_listings.host_id
0,819027,4301802,P1,R1,2,603,0,250,2,0,4,242,C1,9,4301802,2012,1,90,731,1
1,937102,5057848,P1,R1,4,801,0,500,2,100,3,22,C2,9,5057848,2013,3,100,1558,1
2,2060008,10545005,P1,R1,2,947,950,400,1,0,3,338,C2,9,10545005,2013,1,100,176,1
3,2029595,7412102,P1,R1,2,662,800,200,1,0,2,67,C1,9,7412102,2013,1,100,176,1
4,956185,5135504,P1,R1,5,993,995,400,2,100,2,14,C1,9,5135504,2013,1,100,176,1

In [10]:
neighborhoods.head()

,neighborhoods.neighbourhood_cleansed,neighborhoods.neighbourhood_group_cleansed,neighborhoods.state,neighborhoods.country,neighborhoods.neighborhood_id,neighborhoods.tf_listings.neighborhood_id
0,3,C0,S1,C1,9,11
1,6,C0,S20,C2,32,25
2,37,C0,S20,C2,121,61
3,9,C0,S20,C2,35,19
4,10,C0,S20,C2,36,37

In [11]:
df_full = pd.merge(df1, neighborhoods, left_on='listings.neighborhood_id', right_on='neighborhoods.neighborhood_id', how='left')

In [13]:
print(len(df_full))
print(len(df1))

104072
104072

In [14]:
df_full.to_csv('datasets/missing_tuple_completion/airbnb/airbnb.csv')

# Get config.json

In [15]:
airbnb = pd.read_csv('datasets/missing_tuple_completion/airbnb/airbnb.csv')
apartment = pd.read_csv('datasets/missing_tuple_completion/airbnb/apartment.csv')
landlord = pd.read_csv('datasets/missing_tuple_completion/airbnb/landlord.csv')
neighborhoods = pd.read_csv('datasets/missing_tuple_completion/airbnb/neighborhoods.csv')

            "name": "company_bankruptcy_prediction",
            "column_num": 96,
            "train_row_num": 4568,
            "test_row_num": 2251,
            "total_row_num": 6819,
            "label_column": 0,
            "drop_columns": [],
            "train_file": "./datasets/company_bankruptcy_prediction/train.csv",
            "test_file": "./datasets/company_bankruptcy_prediction/test.csv",
            "task": "classification",
            "columns": [
                {
                    "column_name": "Bankrupt?",
                    "column_type": "int",
                    "column_value": []
                }]

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
! mkdir airbnb
! mkdir apartment
! mkdir landlord
! mkdir neighborhoods

In [35]:
name = 'neighborhoods'
df = neighborhoods
column_num = len(df.columns)
train,test = train_test_split(df, test_size=0.33, random_state=42, shuffle=False)
train_row_num = len(train)
test_row_num = len(test)
total_row_num = len(df)
train_file = './datasets/{}/train.csv'.format(name)
test_file = './datasets/{}/test.csv'.format(name)
train.to_csv('{}/train.csv'.format(name), header=None)
test.to_csv('{}/test.csv'.format(name), header=None)
task = None
columns = []

In [36]:
for col in df.columns:
    col_info = {
        "column_name": name,
        "column_value": []
    }
    if df[col].dtype == 'object':
        col_info['column_type'] = 'string'
        col_info['column_value'] = list(df[col].unique())
    elif df[col].dtype == 'int64':
        col_info['column_type'] = 'int'
    elif df[col].dtype == 'float64':
        col_info['column_type'] = 'float'
    else:
        print('Err on {}'.format(col))
    columns.append(col_info)

config = {
    "name": name,
    "column_num": column_num,
    "train_row_num": train_row_num,
    "test_row_num": test_row_num,
    "total_row_num": total_row_num,
    "train_file": train_file,
    "test_file": test_file,
    "task": task,
    "columns": columns   
}

import json
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return json.JSONEncoder.default(self, obj)

js_str = json.dumps(config, indent=4, ensure_ascii=False, cls=NpEncoder)
js_file = open('{}.json'.format(name), 'w')
js_file.write(js_str)
js_file.close()